<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header [ngStyle]="{'text-align': 'center'}">Due 17/07/2024 au 2024/07/2023</nb-card-header>
        <nb-card-header [ngStyle]="{'text-align': 'center'}">Nombre de suspects enregistrés</nb-card-header>
        <nb-card-header [ngStyle]="{'text-align': 'center'}">13</nb-card-header>
        <nb-card-body>
          <ngx-echarts-pie></ngx-echarts-pie>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>      
        <nb-card-body>
          <ngx-smart-table></ngx-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
